---
const user = "user";
const host = "Thang";
let location = "~";
const { id } = Astro.props;
---

<command-line>
  <form id=`form-${id}` class="flex flex-col">
    <label class="flex">
      <p class="text-red-400">[</p>
      <p class="text-green-200">{user}</p>
      <p class="text-red-400">@</p>
      <p class="text-blue-200">{host}</p>
      <p class="text-red-400">]:{location}$&nbsp;</p>
      <input
        class="focus:outline-0 w-full"
        type="text"
        id=`input-${id}-0`
        autocomplete="off"
        autocapitalize="off"
      />
    </label>
  </form>
</command-line>

<script>
  import { Stdin, Stdout, handleCli } from "../utils/commands/index";
  class CommandLine extends HTMLElement {
    stdin: Stdin;
    stdout: Stdout;

    constructor() {
      super();
      this.stdin = new Stdin;
      this.stdout = new Stdout;
    }

    connectedCallback() {
      // TODO: stout needed ?
      const form = this.querySelector("form");
      form!.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
          e.preventDefault();
          const inputs = this.querySelectorAll("input");
          const lastInput = inputs[inputs.length -1];
          const value = lastInput!.value.toString();
          handleCli(form!, this.stdin, this.stdout, value);
          lastInput.readOnly = true;
        }
      });
    }
  }
  customElements.define("command-line", CommandLine);
</script>
