---
const user = "user";
const host = "Thang";
let location = "~";
const { id } = Astro.props;
---

<command-line>
  <form id={id} class="flex">
    <label class="flex">
      <p class="text-red-400">[</p>
      <p class="text-green-200">{user}</p>
      <p class="text-red-400">@</p>
      <p class="text-blue-200">{host}</p>
      <p class="text-red-400">]:{location}$&nbsp;</p>
      <input
        class="border-none focus:outline-0"
        type="text"
        id=`input-${id}`
        autocomplete="off"
        autocapitalize="off"
      />
    </label>
  </form>
</command-line>

<script>
  import { Stdin, Stdout, AppendCommand, CloneCLi, CheckCommand } from "../utils/commands/index";

  class CommandLine extends HTMLElement {
    connectedCallback() {
      const currentCli = this.querySelector("form");
      const input = this.querySelector("input");
      input!.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
          e.preventDefault();
          const value = input!.value.toString();
          const stdin = new Stdin();
          const stdout = new Stdout();
          // Execute command
          const append = new AppendCommand(currentCli!, value);
          const cliCont = currentCli?.parentNode;
          const clone = new CloneCLi(cliCont!);

          const check = new CheckCommand(value);
          stdin.executeCommand(append);
          stdin.executeCommand(clone);
          stdin.executeCommand(check)

          console.log(stdin, stdout);
        }
      });
    }
  }
  customElements.define("command-line", CommandLine);
// Move cloneCLi
  function cloneCLI(cli: ParentNode | null | undefined) {
    const clone = cli?.cloneNode(true) as HTMLElement;
    const clonedForm = clone.firstElementChild;
    const newId = (parseInt(clonedForm!.id) + 1).toString();
    clonedForm!.id = newId;
    const clonedInput = clonedForm?.querySelector("input");
    clonedInput!.id = `form-${newId}`;
    clonedInput!.value = "";
    const parent = cli?.parentElement;
    parent?.insertAdjacentElement("beforeend", clone);
    clonedInput?.focus();
  }
</script>
