---
import WindowButton from "../components/WindowButton.astro";
const { title, className } = Astro.props;
const size = 19;
---

<article id={title} class=`${className} window border grow self-stretch`>
  <div class="text-center border-b relative">
    <h2 class="bg-stone-800">{title}</h2>
    <span class="absolute top-0 right-0 h-full flex items-center gap-1">
      <WindowButton type="minimize" title={title} size={size} />
      <WindowButton type="maximize" title={title} size={size} />
      <WindowButton type="close" title={title} size={size} />
    </span>
  </div>
  <slot />
</article>